{% extends 'layout.html' %}
{% block title %}Project 2 Detials{% endblock %}

{% block content %}
<div class="container mx-auto bg-blue-400 h-screen">
    <div class="flex flex-col my-5 p-4 items-center justify-center">
        <h1>Welcome to Project 2 Details Page</h1>
        <h2>{{ details.title }}</h2>
        <p>{{ details.description }}</p>
        <p>Type: {{ details.get_type_display }}</p>
        <p>Start Date: {{ details.start_date }}</p>
        <p>End Date: {{ details.end_date }}</p>
        <p>Cost: ${{ details.cost }}</p>
    </div>
</div>

 

{% endblock %}

